<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Lesson 5</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/style.css">
</head>



<body>
  <div class="wrapper">
    <header class="header">
    </header>
    <main class="page">
      <section class="page__lesson lesson-page">
        <div class="lesson-page__container">
          <div class="lesson-page__content">
            <div class="lesson-page__questions">
              <h2 class="lesson-page__title title">Урок 5</h2>
              <h3 class="item__title title">Задачі</h3>
              <div class="lesson-page__items item">
                <div class="item__body">
                  <p class="item__text"><span class="item__label">Приклад.</span><br>Створити товар. Для товару
                    зберігаються назва товару, ціна, кількість та вартість зберігання в день. Передбачити можливість
                    знаходження загальної вартості наявної кількості одиниць, визначення вартості зберігання для заданої
                    кількості днів, зменшення ціни на вказану кількість відсотків та збільшення ціни на вказану
                    кількість відсотків</p>
                  <div class="item__action">
                    <button class="item__btn" onclick="showQuestion('5.1_1')">Відповідь</button>
                  </div>
                </div>
                <div class="item__body">
                  <p class="item__text"><span class="item__label">Приклад.</span><br>Гра «Рулетка»</p>
                  <div class="item__action">
                    <button class="item__btn" onclick="showQuestion('5.1_2')">Крутити рулетку</button>
                  </div>
                </div>
                <div class="item__body">
                  <p class="item__text"><span class="item__label">Приклад.</span><br>Створити клас «Клієнт»</p>
                  <div class="item__action">
                    <button class="item__btn" onclick="showQuestion('5.1_3')">Відповідь</button>
                  </div>
                </div>
                <div class="item__body">
                  <p class="item__text"><span class="item__label">Задача.</span><br>Розробити клас, який має метод для генерування випадкового числа у деякому діапазоні. Прив’язати цей метод до кнопки.</p>
                  <div class="item__action">
                    <button class="item__btn" onclick="showQuestion('5.1_4')">Відповідь</button>
                  </div>
                </div>
                <div class="item__body">
									<p class="item__text"><span class="item__label"></span><br>Лічильник створених екземплярів класу. Використовується для відстеження кількості створених об’єктів певного типу.</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion('5.1_5')">Відповідь</button>
									</div>
								</div>

              </div>
              <h3 class="item__title title">Додаткові завдання</h3>
              <div class="lesson-page__add item">

                <!-- <div class="item__body">
									<p class="item__text"><span class="item__label"></span><br></p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion('5.2_1')">Відповідь</button>
									</div>
								</div> -->
              </div>
              <h3 class="item__title title">Задачі виконані на уроці</h3>
              <div class="lesson-page__practice item">

                <!-- <div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br></p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion('5.3_1')">Відповідь</button>
									</div>
								</div> -->

                <!-- <div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br></p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(1.3_)">Відповідь</button>
									</div>
								</div> -->
              </div>
            </div>
            <div id="question-content" class="lessons-page__ansver">
              <a href="../index.html">Повернутися на головну сторінку</a>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
    </footer>
  </div>
  <script type="module" src="../dist/lesson5/lesson5.js"></script>

</body>

</html>